/~$*
/wx_ddq/ci/.htaccess
/wx_ddq/app/.htaccess

/wx_ddq/app/cache/*
!/wx_ddq/app/cache/index.html

/wx_ddq/app/logs/*
!/wx_ddq/app/logs/index.html

!/wx_ddq/app/*/.htaccess
/wx_ddq/data/logs/*
/wx_ddq/data/runtime/*
/分工.jpg
